rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Catch-all
    match /{document=**} {
      allow read, write: if true;
    }

    // Rules for users collection
    match /users/{username} {
      allow read, write: if true;
    }

    // Rules for progress collection
    match /progress/{groupId} {
      allow read, write: if true;
    }

    // Rules for audit_logs collection
    match /audit_logs/{logId} {
      allow read, write: if true;
    }
  }
}
